@font-face {
  font-family: 'vehicle';
  src: url('../fonts/vehicle.eot');
  src: url('../fonts/vehicle.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vehicle.woff') format('woff'),
  url('../fonts/vehicle.ttf') format('truetype'),
  url('../fonts/vehicle.svg#vehicle') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
  font-family: 'vehicle';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-car:before{content:'\0041';}
.icon-sedan:before{content:'\0042';}
.icon-taxi:before{content:'\0043';}